<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" style="margin: 0 auto;">
    <div style="font-size: 6rem;">404 Page</div>
    <h1>There is nothing here.... :) </h1>
    <h1>Check out our home page!
      <button>Home</button>
    </h1>
  </div>
  <script type="text/javascript">
    const button = document.querySelector('button');
    button.addEventListener('click', () => {
      window.location.href = 'http://localhost:3000';
    });

  </script>
</body>
</html>